VITE_API_BASE = http://localhost:8000/api

VITE_API_ENDPOINT = {
    'history' = /api/investments/history/,
    'prices' = /api/investments/prices/,
    'summary' = /api/investments/summary/,
    'allsummary' = '/api/summary/',
    'transactions' = '/api/transactions/',
    'transaction' = '/api/transactions/<int:pk>/',
    'lastest' = '/api/transactions/latest/',
    'list' = '/api/transactions/list/'
}